<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title></title>
    <link rel="stylesheet" href="../Styles/estilo_impresion.css" type="text/css" media="all" />
</head>
<body>
    <div style="width:100%;">
                    <div style="width:17.1cm;padding-top:20px; display:table; margin:0 auto;">
                        <img src="../Images/bg_header_mail_2.jpg" />
                    </div>
                </div>
                <br />
                <div style="width:100%;">
                    <div style="width:17.1cm; margin:0 auto;">
                        <table class="tabla">
                            <tr class="trow">
                                <td><b>Tipo de Movimiento: </b></td>
                                <td>[NOMBRE_TIPO_MOVIMIENTO]</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><b>Número de solicitud: </b></td>
                                <td>[ID_MOVIMIENTO]</td>
                            </tr>
                        </table>
                        <!--<table style="max-width:19cm;color:#000000;">
                            <tr style="text-align:left;font-size:9pt;">
                                <td><b>Planta: </b></td>
                                <td style="border-left: 1px solid #808080;">[PLANTA_1], [PLANTA_2]</td>
                            </tr>
                        </table>-->
                        <table class="tabla">
                            <tr class="trow">
                                <td><b>Solicitante: </b></td>
                                <td>[NOMBRE_SOLICITANTE]</td>
                            </tr>
                        </table>
                        <table class="tabla">
                            <tr class="trow">
                                <td colspan="9"><b>Departamento Actual </b></td>
                            </tr>
                            <tr class="trow">
                                <td><b>Localización: </b></td>
                                <td>[LOCALIZACION]</td>
                                <td>&nbsp;</td>
                                <td><b>Ubicación: </b></td>
                                <td>[UBICACION]</td>
                                <td>&nbsp;</td>
                                <td><b>Sección: </b></td>
                                <td>[SECCION]</td>
                            </tr>
                        </table>
                        <table class="tabla">
                            <tr class="trow">
                                <td><b>Centro de Costo: </b></td>
                                <td>[CENTRO_COSTO_ACTUAL], [CENTRO_DE_COSTO]</td>
                            </tr>
                        </table>
                        <table class="tabla"><tr class="trow"><td colspan="9"><b>Departamento Receptor </b></td></tr><tr class="trow"><td><b>Localización: </b></td><td>[LOCALIZACION_DESTINO]</td><td>&nbsp;</td><td><b>Ubicación: </b></td><td>[UBICACION_DESTINO]</td><td>&nbsp;</td><td><b>Sección: </b></td><td>[SECCION_DESTINO]</td></tr></table>
                        <table class="tabla"><tr class="trow"><td><b>Centro de Costo: </b></td><td>[CENTRO_COSTO_RECEPTOR]</td></tr></table>
                        <br />
                        <table style="max-width:19cm;color:#000000;"><tr style="text-align:left;font-size:9pt;font-family:Arial Unicode MS;"><td><b>Proveedor: </b></td><td>[PROVEEDOR]</td></tr></table>
                        <table style="max-width:19cm;color:#000000;"><tr style="text-align:left;font-size:9pt;font-family:Arial Unicode MS;"><td><b>Cédula Jurídica: </b></td><td>[CED_JUR]</td><td><b>Contacto: </b></td><td>[CONTACTO]</td></tr></table>
                        <table style="max-width:19cm;color:#000000;"><tr style="text-align:left;font-size:9pt;font-family:Arial Unicode MS;"><td><b>Teléfono: </b></td><td>[TEL_PROVEE]</td><td><b>Fecha de Reingreso: </b></td><td>[FEC_REINGRESO]</td></tr></table>
                        <table style="max-width:19cm;color:#000000;"><tr style="text-align:left;font-size:9pt;font-family:Arial Unicode MS;"><td><b>Dirección: </b></td><td>[DIR_PROVEEDOR]</td></tr></table>
                        <br />
                    </div>
                </div>
                <div style="width:100%;">
                    <div style="width:17.1cm; margin:0 auto;">
                        <div style="width:17.1cm;">
                            <span style="padding:0px 0px;color:#000000;font-size:1.2em;text-align:left;font-weight:bold;">Historico de Aprobaciones </span><br />
                            [HISTORICO]
                        </div>
                    </div>
                </div>
                <div style="width:100%;">
                    <br />
                    <div style="width:17.1cm; margin:0 auto;">
                        <div style="width:17.1cm;">
                            <span style="padding:0px 0px;color:#000000;font-size:1.2em;text-align:left;font-weight:bold;">Detalle de Activos </span><br />
                            [LISTA_ACTIVOS]
                        </div>
                    </div>
                </div>
                <div style="width:100%;">
                    <br/>
                    <div style="width:17.1cm; margin:0 auto;">
                        <p style="padding:0px 0px 0px 0px;color:#ae1a35;font-size:0.87em;text-align:justify;">
                            Recordar la importancia de tramitar todo movimiento de activos mediante este sistema ya que permite tener los
                            reportes de depreciaciones actualizados en los Centros de Costo correspondientes y el cumplimiento de los requerimientos
                            solicitados por parte de Procomer y Corporación.
                        </p>
                        <p>
                            Solicitud #[ID_MOVIMIENTO]
                        </p>
                    </div>
                </div>
</body>
</html>
