<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!--<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>

</configuration>-->
<configuration>
  <appSettings>
    <!--SQL authenticaion True; LDAP authentication False -->
    <add key="Authentication" value="False" />
    <!--Nombre del Dominio al cual pertenece-->
    <add key="Domain" value="bsci" />
    <!--Path URL del servicio de directorio LDAP-->
    <add key="LDAP" value="LDAP://cylbscdcp01/DC=bsci,DC=bossci,DC=com" />
    <!--Smpt-->
    <add key="Host" value="mapintmail.bsci.bossci.com" />
    <!--Puerto del SMTP-->
    <add key="Port" value="0" />
    <!--Contraseña del correo de salida-->
    <add key="Password" value="" />
    <!--Cuenta de correo de la cual se enviaran los correos-->
    <add key="From" value="costaricamultifunc@bsci.com" />
    <!--Indicar si esta o no habilitado Secure Socket Layer para el envio de correos-->
    <add key="SSL" value="False" />    
    <!--Navigate URL-->
    <add key="NavigateURL" value="http://cylwebp01" />
    
  </appSettings>
  <connectionStrings>
    <add name="BostonEntities" connectionString="metadata=res://*/db_model.csdl|res://*/db_model.ssdl|res://*/db_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cylmult12\prod;initial catalog=TestPocketAssets;persist security info=True;user id=assets;password=assets;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0">

    </compilation>
    <!--
            La sección <authentication> habilita la configuración 
            del modo de autenticación de seguridad que usa 
            ASP.NET para identificar a un usuario entrante. 
        -->
   <!-- <authentication mode="Windows"/> -->
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. En concreto, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="wbfrm_login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
</configuration>
