/*------- Reset -  -------*/
* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

body
{
    font-family: "Segoe UI",Tahoma,Helvetica,Arial,Verdana,sans-serif;
    background-color: #FFFFFF;
    height: 100%;
    font-size: 100%;
    line-height: 1em;
    color: #333333;
    background: url("../Images/back_g.jpg") repeat-x scroll center top;
}
#header
{    
    overflow: hidden;
    padding: 5px 0px 0px 0px;
    width: 800px;    
    height:100px;
}

#footer
{
    margin: 0 auto 5px auto;
    width: 800px;   
    bottom:0px;
    /*position:absolute;*/   
}
/*-------Pie de la Pagina Security.Master -------*/


.footer-containt{
border-top: 1px solid #CCCCCC;
color: #666666;
width: 100%;
/*margin-top:40px;
padding: 10px 0;*/
}
/*********************** Login ****************************/

#container
{    
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding-top:60px;
    width:800px;    
   /*GPE background-image:url(../Images/back_g_contenido_fontsistemas.jpg);
       */
    line-height: 23px;
}

h3
{
    font-size: 1em;
    margin:10px 0 5px 0;
}

#ctl00_ContentPlaceHolder1_seccion_a, #ctl00_ContentPlaceHolder1_seccion_b
{
    margin-bottom: 25px;
}

.logo-fontsistemas , .logo-system
{
	text-indent: -1000px;
}
.logo-fontsistemas
{
	background: url("../Images/logo font sistemas.jpg") no-repeat scroll 0 0 transparent;
    height: 100px;
	width:224px;
	float:left;
	position:relative;
	/* GPE 12.09.2013 left:-20px; */
}
.logo-system
{
	background:url("../Images/boston.jpg") no-repeat scroll 0 0 transparent;
	height: 100px;
	width:225px;
	float:right;
	/* gpe margin-right:30px;
    */
}

/*------- Contenedor Login -------*/



#login_controls .label_main
{
    color: #444444;
    font-family: Segoe UI,Tahoma,Verdana,Arial;
    font-size: 1.3em;
    letter-spacing: 0.03em;
    display: block; 
    text-align: center;
    width: 100%;
    overflow:hidden;
}



#login_controls  input[type="text"], #login_controls input[type="password"], #login_controls select
{
    width: 231px;   
    height: 25px; 
    border: 1px solid #BABABA;
    color: #212121;
    font-size: 100%;
    padding: 1px 8px;
    margin-bottom: 15px;
    font-family: Segoe UI,Tahoma,Verdana,Arial;
}

.content_company select
{
    height: 25px; 
    width: 321px;
}

/***********contiene los controles del log in*************/
 #login_controls
{
width: 248px;
/*border: 1px solid #123454;	*/
padding: 30px 25px 10px 25px;
border-radius: 5px 5px 5px 5px;
min-height:260px;
}
 
/*--------crea el div transparente con fondo blanco----------*/
.transparente
{
    /*background-color: #fff; */
    position:absolute; 
    z-index:-1; 
    top:0px; 
    left:0px; 
    right:0px; 
    bottom:311px; 
    opacity:0.5;
    /* filter:alpha(opacity=50); */ /* For IE8 and earlier */
}

/*--------es el contenedor del los controles y del div que genera la transparencia----------*/
.login_content
{
    width:300px;
    min-height:600px;
    margin:0px auto 10px auto;   
    position: relative; 
    z-index: 10;
}  

/*****Posicion Boton login*****/
.btn_login
{
    margin-top:0px;  
    position:relative;
    bottom:80px;      
}

/*------- Estilos de los Botones -------*/

.btnin
{
    
    background-color: #272C86;
    display: block;
    margin: 0px auto 0px auto;
    cursor:pointer;
    text-align:center;
    color: #FFFFFF;
    padding: 15px 30px ;
    border-radius: 5px 5px 5px 5px;
    border: 0 none;
    font-family: "Segoe UI Semibold",Tahoma,Helvetica,Arial,Verdana,sans-serif;
    width:150px;
}



/*------- Estilos de los Mensajes -------*/


.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 20px 10px 15px 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 5px 5px 5px 5px;    
    position: relative;
    bottom: 55px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../Images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../Images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    font-size: 14px;
    /*background-image: url('../Images/error.png');*/
}
.validation {
color: #D63301;
background-color: #FFCCBA;
background-image: url('../Images/validation.png');
}

.page_title_login {
    float:left;
    width:300px;
    text-align:center;
    padding-top: 20px;
    font-size: 30px ,!important;
    text-transform:uppercase;  
    padding-left: 25px;
}